{% extends "YoExistoContenidoBundle::layout.html.twig" %}

{% block contenido %}

	<div class="wrapper-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<br /><br /><br /><br /><br />
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 espacio-a" id="mis-reportes">
					<div class="container-fluid fondo-gris">
						<div class="row fondo-naranja txt-mayusculas txt-blanco">
							<ul class="nav nav-bar col-md-5 lst-perfil">
								<li class="col-lg-5 col-md-5 col-sm-5 col-xs-5 interlineado-140">
                                    {% if  app.user.foto %}
									    <img src="{{ asset( 'uploads/profile/' ~ app.user.foto ) }}"   style="height: 85px; width: 85px;" alt="" class="img-responsive img-centrar" />
                                    {% else %}

                                    	{% image '@YoExistoContenidoBundle/Resources/public/images/default.png' %}
					                        <img src="{{ asset_url }}" title="" alt="" class="img-responsive img-centrar img-perfil" style="height: 85px; width: 85px;" />
					                    {% endimage %}

                                    {% endif %}
								</li>
								<li class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-left interlineado-140">
									<span class="">{{ app.user.username }}</span>
								</li>
							</ul>

                            {{ render(controller('YoExistoContenidoBundle:Default:getControles')) }}

						</div>
						<div class="row">
							<div class="col-md-12 espacio-a">
								{% block contenidointerno %}

									
								{% endblock %}
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-5 espacio-a" id="reportes-recientes">
					<div class="container-fluid fondo-gris">
						<div class="row fondo-naranja txt-mayusculas txt-blanco">
							<div class="col-md-12 espacio-a ">
								<span class="txt-mayusculas">
									Controles generados
								</span>
							</div>
						</div>
						<div class="row texto-gris">
							<div class="col-md-12 espacio-a ">
								<span class="txt-mayusculas">
									Estado de los controles
								</span>
							</div>
							<div class="col-md-12 espacio-a texto-gris text-center">
								<div class="c-control-label">
									<div class="ctrl-icono solucionado"></div>
									<div class="ctrl-texto">Solucionado</div>
								</div>
								<div class="c-control-label">
									<div class="ctrl-icono enproceso"></div>
									<div class="ctrl-texto">En proceso</div>
								</div>
								<div class="c-control-label">
									<div class="ctrl-icono sinatencion"></div>
									<div class="ctrl-texto">Sin Atención</div>
								</div>
								<div class="c-control-label">
									<div class="ctrl-icono envotacion"></div>
									<div class="ctrl-texto">En Votación</div>
								</div>
							</div>
						</div>
						        
						<hr class="linea-gris" />

						<div class="row espacio-a" id="contenedor-filtros">
							<div class="col-md-12">
								<h4 class="txt-mayusculas" id="filtros-collapsible">
									Filtrar búsqueda
									<div class="f-icono"></div>
								</h4>
							</div>
							<div class="col-md-12" id="cont-filtros">
								<select id="filtro_municipio" onchange="getAreasPorMunicipio(this);" class="form-control espacio-a yea-borde input-yeapp oscuro">
                                    {{ render(controller('YoExistoContenidoBundle:Filtro:getMunicipios')) }}
                                </select>
								<select  id="filtro_areas"  onchange="getActividadPorArea( this )" class="form-control espacio-a yea-borde input-yeapp oscuro">
									<option>-</option>
								</select>

                                <select  id="filtro_estado"  onchange="  $('#filtro_areas').trigger('change'); " class="form-control espacio-a yea-borde input-yeapp oscuro">
									<option value="0" >Todos los controles</option>
									<option value="1" >Solucionado</option>
									<option value="2"  >En Proceso </option>
									<option value="3" >Sin Atencion</option>
									<option value="4" >En Votacion</option>
								</select>


							</div>
						</div>
						<hr class="linea-gris" />
					</div>
					<div id="actividadReciente" class="container-fluid fondo-gris reportes-recientes-cont">
						<div class="row">
							<div class="col-md-12 text-center">
								<h4 class="texto-naranja txt-mayusculas">
									Vota por los controles que creas más importantes
								<h4>
							</div>
						</div>
						<div class="row">
                        	{{ render(controller('YoExistoContenidoBundle:Default:getActividadReciente')) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}