{% extends "YoExistoContenidoBundle::layout.html.twig" %}

{% block menu %}
    {% include 'YoExistoContenidoBundle:Blocks:menu.html.twig' %}
{% endblock %}



{% block contenido %}





    {% for flashMessage in app.session.flashbag.get('error') %}

        {{ flashMessage }}

    {% endfor %}

    <div class="fondo-cover wrapper-registro">
        <div class="v-center-contenedor">
            <div class="v-center-contenido-v">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-left">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        {% image '@YoExistoContenidoBundle/Resources/public/images/logo290x60.png' %}
                                        <img src="{{ asset_url }}" title="" alt="" class="img-responsive" />
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="row espacio-a">
                                    <div class="col-md-12 text-center">
                                        <div class="icono-grande icono-grande-ok">
                                        </div>
                                    </div>
                                </div>
                                <div class="row espacio-a">
                                    <div class="col-md-12">
                                        <h3 class="titular-home text-center">TU CUENTA HA SIDO CREADA</h3>
                                    </div>
                                </div>
                                <div class="row espacio-a">
                                    <div class="col-md-12 text-center">
                                        <p>
                                            Bienvenido <strong>{# {{ app.user.username }} #}</strong> oficialmente a la comunidad YoExisto.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 text-center">
                                        {# 
                                            luego le ponemos
                                            yoexisto_donde
                                            yoexisto_reciente
                                         #}
                                        <a href="{{ path('yoexisto_login') }}" class="btn btn-lg btn-home btn-tipo-a">Generar Control</a>
                                        <a href="{{ path('yoexisto_login') }}" class="btn btn-lg btn-home btn-tipo-b">Ver controles</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}