{% extends "YoExistoContenidoBundle::layout.html.twig" %}

{% block contenido %}





    {% for flashMessage in app.session.flashbag.get('error') %}

        {{ flashMessage }}

    {% endfor %}

	<div class="fondo-cover wrapper-registro">
		<div class="v-center-contenedor">
			<div class="v-center-contenido-v">
				
				<div class="container">
					<div class="row">
						<div class="col-md-4 text-left">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12 text-center">
										{% image '@YoExistoContenidoBundle/Resources/public/images/logo290x60.png' %}
										<img src="{{ asset_url }}" title="" alt="" class="img-responsive" />
										{% endimage %}
									</div>
								</div>
							</div>
							

							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<h3 class="titular-home text-center">REGÍSTRATE</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<form class="form-home form-horizontal" method="post" action="{{ path('yoexisto_registrar') }}" >
											<div class="inner-addon left-inner-addon ">
											    <i class="icono icono-usuario"></i>
                                                {{ form_widget(form.username ,  {'attr': {'class': 'form-control input-home' , placeholder: 'USUARIO'}}  ) }}
											</div>
											<div class="inner-addon left-inner-addon ">
											    <i class="icono icono-password"></i>
                                                {{ form_widget(form.password ,  {'attr': {'class': 'form-control input-home' , placeholder: 'CONTRASEÑA'}}  ) }}
											</div>
											<div class="inner-addon left-inner-addon ">
											    <i class="icono icono-email"></i>
                                                {{ form_widget(form.email,  {'attr': {'class': 'form-control input-home' , placeholder: 'EMAIL'}}  ) }}
											</div>
											<div class="inner-addon left-inner-addon ">
											    <i class="icono icono-cedula"></i>
                                                {{ form_widget(form.cedula,  {'attr': {'class': 'form-control input-home' , placeholder: '# CÉDULA'}}  ) }}
											</div>
                                            {#
											<div class="col-sm-12 text-center">
												<input type="file" class="input-home-file" />
											</div>
											#}
											<div class="col-sm-8 col-sm-offset-2 text-center">
												<button type="submit" class="btn btn-lg btn-home btn-tipo-a">Registrarme</button>
											</div>
											<div class="col-sm-12 text-center">
												<a href="{{ path('yoexisto_login') }}" class="link-home">&iquest;Ya tienes cuenta&quest; Inicia sesión</a>
											</div>
                                            {{ form_widget(form._token) }}
										</form>
									</div>
								</div>
							</div>


		 					 {#
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<h3 class="titular-home text-center">ESTAMOS CASI LISTOS</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											Hemos enviado un correo de confirmación a tu email. Haz click en el link de confirmación para terminar de crear tu cuenta.
										</p>
									</div>
								</div>
							</div>
                            #}




                        </div>
					</div>
				</div>
		
			</div>
		</div>
	</div>


{% endblock %}